@font-face {
    font-family: "Roboto";
    src: url("/Geometry%20Drawtech%202.0/fuentes/Roboto-Regular.ttf") format("truetype");

}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track{
    background-color:rgba(0,0,0,0.9);
    color: #999999
}

::-webkit-scrollbar-thumb{
    background: rgba(99,99,99,0.8);
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(20,113,143,0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: transparent;
}

body
{
    font-family: "Roboto", sans-serif;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0px;
    overflow-x: hidden;
}
#cuerpo
{
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#cabeza
{
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
center
{
    color: white;
}
input
{
    zoom:2;
}

txt
{
    font-size: 38px;
}

#boton
{
    font-size:18px;
    background-color:transparent;
    border-color:white;
    color:white;
    cursor:pointer;
    border-style: solid;
}

#booton
{
    font-size:18px;
    background-color:transparent;
    border-color:white;
    color:white;
    cursor:pointer;
    border-style: solid;
}

#boton:hover
{
    background-color:white;
    color:rgba(0,0,0,0.9);
}

#booton:hover
{
    background-color:white;
    color:rgba(0,0,0,0.9);
}

#todo
{
    position: absolute;
    z-index: 5;
    width: 90%;
    padding: 5%;
}
